.card-body, .card-header, .card-footer {
	overflow: auto;
}
.bg-yellow-pfj{
	background-color: #ffb900
}
.bg-yellow-pfj:hover{
	background-color: #fe9a18
}

.bg-yellow-pfj{
	background-color: #2d999b
}
.bg-yellow-pfj:hover{
	background-color: #288b8d
}


